<form ngForm #userForm>
  <div class="row">
    <div class="col-md-4">
      <label for="firstname">First Name</label>
      <input type="text" id="firstname" name="firstname" class="form-control" [(ngModel)]="firstname" required />
    </div>
    <div class="col-md-4">
      <label for="lastname">Last Name</label>
      <input type="text" id="lastname" name="lastname" class="form-control" [(ngModel)]="lastname" required />
    </div>
    <div class="col-md-4">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" class="form-control" [(ngModel)]="username" required />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-success" (click)="onAddUser()">{{ editMode ? "Edit User" : "Add User" }}</button>
    </div>
  </div>
</form>